*{
    margin: 0;
    padding: 0;
    border: 0 ;
    box-sizing: border-box;
}
.box{
    width: 100%;

}
header{
    width: 100%;
    height: 100vh;
    background: url(../img/fon.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
  
}
nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box_item{
    width: 40%;
    height: 27px;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 24px;
}
.box_item a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.header_box {
    width: 75%;
    margin-top: 50px;
}

.header_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px; /* Отступ от меню */
    background: transparent; /* Убираем черный фон, если фон картинкой */
}

.header_text {
    width: 50%;
}

.subtitle {
    letter-spacing: 3px;
    font-size: 14px;
    margin-bottom: 20px;
    color: #ccc;
}

h1 {
    font-size: 56px;
    font-family: serif; /* Желательно подключить Playfair Display */
    line-height: 1.1;
    margin-bottom: 25px;
}

.description {
    font-size: 16px;
    color: #bbb;
    margin-bottom: 40px;
    line-height: 1.6;
}

/* Кнопка Order Now */
.order_btn {
    display: inline-block;
    padding: 12px 30px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.3s;
}

.order_btn:hover {
    background: white;
    color: black;
}

/* Картинка справа */
.header_image {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.header_image img {
    width: 130%; /* Увеличиваем, чтобы выходила за края, как на макете */
    max-width: 700px;
}